/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write";
    permission java.net.URLPermission "https://github.com/awslabs/djl/raw/master/examples/src/test/resources/dog_bike_car.jpg", "GET";
};

grant codebase "file:/local/home/ylwu/Downloads/os2.0.1/opensearch-2.0.1/lib/*" {
    permission java.security.AllPermission;
    permission java.io.FilePermission "<<ALL FILES>>", "read,write";
};

grant codebase "file:/local/home/ylwu/Downloads/os2.0.1/opensearch-2.0.1/plugins/opensearch-ml/*" {
    permission java.security.AllPermission;
    permission java.io.FilePermission "<<ALL FILES>>", "read,write";
};

grant codebase "file:/local/home/ylwu/Downloads/os2.0.1/opensearch-2.0.1/lib/jna-5.5.0.jar" {
    permission java.security.AllPermission;
    permission java.io.FilePermission "<<ALL FILES>>", "read,write";
};