/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant codeBase "${codebase.jna}" {
  permission java.io.FilePermission "<<ALL FILES>>", "read,write";
};

grant {
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,execute,delete";
    permission java.net.URLPermission "https://github.com/awslabs/djl/raw/master/examples/src/test/resources/dog_bike_car.jpg", "GET";
    permission java.util.PropertyPermission "jna.boot.library.path", "read";
    permission java.lang.RuntimePermission "loadLibrary.jnidispatch";
    permission java.lang.RuntimePermission "loadLibrary.iomp5";
    permission java.lang.RuntimePermission "loadLibrary.mklml";
    permission java.lang.RuntimePermission "loadLibrary.mklml_intel";
    permission java.lang.RuntimePermission "loadLibrary./home/ylwu/tmp/tensorflow/2.7.0-cpu-linux-x86_64/libtensorflow_framework.so.2";
    permission java.lang.RuntimePermission "*";
};